@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


@media (min-width: 1280px) {
  .container {
    padding-left: 0.4rem;
    padding-right: 0.4em;
  }
}

@media (min-width: 1920px) {
  .container {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Ensure all pages have a white background */
html, body {
  background-color: #ffffff;
}
